.container--footer {
  display: grid;
  grid-template-columns: 1fr;
  margin: 0;

  .footer-heading {
    margin: 2rem 0;
  }

  .footer-text {
    text-align: center;
    margin-bottom: 4rem;
  }

  .content {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-bottom: 4rem;
  }

  .nav-col {
    text-align: left;
    padding: 2rem;
  }

  .footer-nav {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }

  .footer-link:link,
  .footer-link:visited {
    text-decoration: none;
    font-size: 1.6rem;
    color: #767676;
    transition: all 0.3s;
  }

  .footer-link:hover,
  .footer-link:active {
    color: $primary-color;
  }
}
