#tool {
  background-color: $dark-blue-text;

  .belt {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 3rem;
    margin: 1rem 0;
  }

  i {
    color: $white-color;
  }
}
